:local .logoImage {
  filter: contrast(3) brightness(3) grayscale(1);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

:local .logoImageWrapper {
  position: relative;
  height: 7rem;
  width: 7rem;
  margin: 0.75rem;
}

:local .logoImageWrapper:after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F3DF49;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

:local .logo {
  position: relative;
  background-color: #F3DF49;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}